<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        >
    <php>
        <const name="MANDATOR_ID" value="Your_Mandator_id"/>
        <const name="CINETIXX_LOGIN" value="Your_Cinetixx_Login"/>
        <const name="CINETIXX_PASSWD" value="Your_Cinetixx_Password"/>
        <const name="CINEMA_ID" value="Cinema_Id"/>
    </php>
    <testsuite name="Cinetixx CinemaWebService client tests">
        <directory>tests</directory>
    </testsuite>
</phpunit>
